################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj/
bin/
.vs/
shtormtech.configuration.service.xml
appsettings.Development.json
shtormtech.configuration.service.csproj.user
repo/
